* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Josefin Slab;
}

body {
  background-image: url("../images/bg1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}

.logobox {
  width: 30%;
}

.navitems {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav img {
  width: 100%;
  position: relative;
  top: 2.5rem;
  left: 2rem;
}

.navitems span {
  text-align: center;
  width: 10%;
  margin-right: 1.5rem;
  font-family: Niconne;
  font-size: 1.75rem;
  cursor: pointer;
}

section {
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeinfo {
  position: relative;
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeinfo div {
  margin-top: 1rem;
  margin-left: 3rem;
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  /* background-color: crimson; */

  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#cf7 div.opaque {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

.homeinfo div h1 {
  /* background-color: cornflowerblue; */
  padding: 2rem;
  font-size: 2rem;
  height: 10%;
  width: 100%;
  text-align: center;
}

.homeinfo div section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#home h1 {
  position: relative;
  bottom: 5rem;
  text-indent: 3rem;
  text-align: justify;
  font-weight: lighter;
}

#homeAbout section p {
  font-size: 1.25rem;
  text-indent: 1.75rem;
  text-align: justify;
  margin: 0.75rem;
}

#homeAbout section {
  padding-top: 1.25rem;
}

.homeimg {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeimg img {
  height: 91%;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.homeimg img.opaque {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

#homeContacts section h2 {
  margin: 0.4rem;
}

#homeContacts section h4 {
  margin: 0.4rem;
}

#homeContacts section a {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin: 0.5rem;
}

#homeContacts section a:hover,
a:focus,
a:active,
a:visited,
a:link {
  text-decoration: none;
}

#homeSkills section div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  opacity: 1;
}

#homeSkills section div.skill1 {
  position: relative;
  bottom: 2rem;
}

#homeSkills section div.skill3 {
  position: relative;
  top: 2rem;
}

#homeSkills section div img {
  height: 90px;
  width: 90px;
  margin: 0 0.5rem;
}

.cap1prev img {
  height: 80px;
}

.cap1stacks img {
  width: 40px;
}
