* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Courier Prime;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 400px;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes imgin {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.second {
  animation-name: imgin;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 4s;
  animation-direction: alternate;
}

@keyframes imgout {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.first {
  animation-name: imgout;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 5.5s;
  animation-direction: alternate;
}
